<div class="p-4">
  <div class="flex justify-end gap-4">
    <input
      #csvFileInput
      type="file"
      accept=".csv"
      class="hidden"
      (change)="onCsvFileSelected($event)"
    />
    <app-button
      [type]="'button'"
      [text]="'CSV importieren'"
      [disabled]="csvImportService.isActive()"
      (click)="csvFileInput.click()"
      class="right-0"
    />
    <app-button
      [type]="'button'"
      [text]="'Lebensmittel hinzufügen'"
      (click)="handleFoodDialog()"
      class="right-0"
    />
  </div>
  <app-food-table [columnHeaders]="['Name', 'Calory', 'Grams', 'Actions']" />
</div>
