<div class="flex flex-col bg-white rounded-xl p-5 gap-5">
  <div>
    <label>Lebensmittel hinzufügen</label>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div class="">
      <app-label [text]="'Name: '" />
    </div>
    <div class="">
      <app-text-input class="" />
    </div>
    <div class="">
      <app-label [text]="'Anzahl in Gramm: '" />
    </div>
    <div class="">
      <app-text-input />
    </div>
    <div class="">
      <app-label [text]="'Anzahl in Kalorien: '" />
    </div>
    <div class="">
      <app-text-input />
    </div>
  </div>
  <div>
    <app-button [type]="'submit'" [text]="'Hinzufügen'" (click)="this.dialogRef.close({})"></app-button>
  </div>
</div>
