<div class="relative">
  <input
    [placeholder]="placeholder()"
    [type]="visible() ? 'text' : 'password'"
    [value]="value"
    [disabled]="disabled"
    (input)="onInput($event)"
    id="password-input"
    autocomplete="off"
    class="w-full px-1 py-1 pr-10 text-lg font-bold rounded-lg border focus:outline focus:outline-hidden focus:outline-offset-2 bg-[#ffffff] text-[#444444] focus:outline-[#aaaaaa] border-[#cccccc]"
  />
  <button
    type="button"
    (click)="toggleVisibility()"
    [attr.aria-label]="visible() ? 'Passwort verbergen' : 'Passwort anzeigen'"
    class="absolute right-2 top-1/2 -translate-y-1/2 text-neutral-darkGray"
  >
    <span class="material-symbols-rounded text-xl">{{
      visible() ? 'visibility_off' : 'visibility'
    }}</span>
  </button>
</div>
