@if (this.data()) {
<div class="flex justify-center">
  <table class="w-2/4 text-sm text-left rtl:text-right text-gray-400">
  <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-600 text-gray-400">
  <tr>
    <th scope="col" class="px-6 py-3">
      <span class="flex justify-center">
        Name
      </span>
    </th>
    <th scope="col" class="px-6 py-3">
      <span class="flex justify-center">
        Calory
      </span>
    </th>
    <th scope="col" class="px-6 py-3">
      <span class="flex justify-center">
        Grams
      </span>
    </th>
    <th scope="col" class="px-6 py-3">
      <span class="flex justify-center">
        Actions
      </span>
    </th>
  </tr>
  </thead>
  <tbody>
    @for (item of this.data(); track item) {
      <tr
        [attr.data-id]="item.uuid"
        class="bg-white border-b dark:bg-gray-700 dark:border-gray-700 hover:bg-gray-800"
      >
        <th
          scope="row"
          class="px-6 py-4"
        >
          <span class="flex justify-center">
            {{ item.name }}
          </span>
        </th>
        <td class="px-6 py-4">
          <span class="flex justify-center">
            {{ item.calory }}
          </span>
        </td>
        <td class="px-6 py-4">
          <span class="flex justify-center">
            {{ item.grams }}
          </span>
        </td>
        <td class="px-6 py-4">
          <div class="flex gap-4 flex justify-center">
            <span class="material-symbols-rounded">
              edit
            </span>
            <span
              [ngClass]="{
                'text-gray-600 cursor-not-allowed': isInARecipe(item.uuid)
              }"
              class="material-symbols-rounded cursor-pointer"
              (click)="delete(item.uuid)"
            >
              delete
            </span>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
</div>
}
