@if (this.data()) {
  <div class="flex justify-center">
    <table class="w-2/4 text-sm text-left rtl:text-right text-gray-400">
      <thead
        class="text-xs uppercase bg-gray-50 dark:bg-gray-600 text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">
            <span class="flex justify-center">
              {{ this.columnHeaders()[0] }}
            </span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="flex justify-center">
              {{ this.columnHeaders()[1] }}
            </span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="flex justify-center">
              {{ this.columnHeaders()[2] }}
            </span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="flex justify-center">
              {{ this.columnHeaders()[3] }}
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (item of this.data(); track item) {
          <tr
            [attr.data-id]="item.uuid"
            class="bg-white border-b dark:bg-gray-700 dark:border-gray-700 hover:bg-gray-800"
          >
            <th scope="row" class="px-6 py-4">
              <span class="flex justify-center">
                {{ item.name }}
              </span>
            </th>
            <td class="px-6 py-4">
              <span class="flex justify-center">
                {{ item.calory }}
              </span>
            </td>
            <td class="px-6 py-4">
              <span class="flex justify-center">
                {{ item.grams }}
              </span>
            </td>
            <td class="px-6 py-4">
              <div class="flex gap-4 justify-center items-center">
                <button
                  type="button"
                  (click)="openDetails(item)"
                  aria-label="Details anzeigen"
                  class="text-gray-400 hover:text-white"
                >
                  <fa-icon [icon]="faEye" />
                </button>
                <button
                  type="button"
                  (click)="delete(item.uuid!)"
                  [disabled]="isInARecipe(item.uuid!)"
                  [attr.aria-label]="
                    isInARecipe(item.uuid!)
                      ? 'Löschen nicht möglich (Teil eines Rezepts)'
                      : 'Löschen'
                  "
                  class="text-gray-400 hover:text-white disabled:text-gray-600 disabled:cursor-not-allowed disabled:hover:text-gray-600"
                >
                  <fa-icon [icon]="faTrash" />
                </button>
                <button
                  type="button"
                  disabled
                  aria-label="Bald verfügbar"
                  title="Bald verfügbar"
                  class="text-gray-600 cursor-not-allowed"
                >
                  <fa-icon [icon]="faPen" />
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <app-pagination
    [page]="currentPage()"
    [totalPages]="totalPages()"
    (previous)="previousPage()"
    (next)="nextPage()"
  />
}
